<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{js/vue.min.js}"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet"
          th:href="@{js/element-ui/lib/theme-chalk/index.css}">
    <!--引入组件库-->
    <script th:src="@{js/element-ui/lib/index.js}"></script>
    <!-- 引入样式 -->
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <!-- 引入组件库 -->
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<style type="text/css">
    .el-col:nth-of-type(odd) {
        background: #00ff00;
    }
</style>

</head>
<body >

<div id="rrapp">

        <el-table
                :data="data"
                style="width: 100%">
            <el-table-column
                    prop="username"
                    label="姓名"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="inhere"
                    label="入职日期"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="deptcode.deptname"
                    label="部门">
            </el-table-column>
        </el-table>


</div>

<script type="text/javascript" th:inline="javascript">





    var vm = new Vue({
        el : '#rrapp',
        data :{data:JSON.parse([[${data}]])
        }
    });
</script>
</body>
</html>